<section class="contact">
	<div class="contact__heading grid gutter pt">
		<span class="hide-mobile">&nbsp;</span>
		<h2 class="contact__heading font-xl--2">Yhteystiedot</h2>
		<span class="hide-mobile">&nbsp;</span>
		<span class="hide-mobile">&nbsp;</span>
		<div class="contact__description">
			<p class="contact__paragraph">
				Lumikko Studio on aina innokas kuulemaan uusista ideoistasi.
			</p>
			<p class="contact__paragraph">
				Riippuen projektisi koosta ja suunnasta, löydämme juuri sinulle sopivan
				luovan ratkaisun.
			</p>
			<p class="contact__paragraph">
				Ota rohkeasti yhteyttä lisätietoja, uusia ideoita, yhteistyötä tai jätä
				tarjouspyyntö sähköpostitse osoitteeseen contact@lumikko.studio
			</p>
		</div>
	</div>
	<div class="contact__info grid gutter">
		<span class="hide-mobile">&nbsp;</span>
		<span class="hide-mobile">&nbsp;</span>
		<span class="hide-mobile">&nbsp;</span>
		<span class="hide-mobile">&nbsp;</span>
		<div class="contact__details">
			<div class="contact__contact">
				<p class="contact__contact--heading">Yhteystiedot</p>
				<ul class="contact__list">
					<li class="contact__item">Lumikko Studio</li>
					<li class="contact__item">Y-tunnus: 3375819-2</li>
					<li class="contact__item">Nastola, Lahti (Finland)</li>
				</ul>
			</div>
			<div class="contact__contact">
				<ul class="contact__list">
					<li class="contact__item"><span class="localTime"></span></li>
					<li class="contact__item"><span class="localDate"></span></li>
					<li class="contact__item">
						<span id="js-availability" class="availability"
						></span>(Tavoitettavissa ark. klo 10-15)
					</li>
				</ul>
			</div>
			<div class="contact__contact">
				<p class="contact__contact--heading">Tarjouspyynnöt</p>
				<ul class="contact__list">
					<li class="contact__item">
						<a href="mailto:contact@lumikko.studio" id="target-email"
							>&#8599; contact@lumikko.studio</a
						>
					</li>
					<li class="contact__item">
						<button
							type="button"
							title="Kopioi sähköpostiosoite leikepöydälle"
							id="copy-email"
							class="contact__copy-email">&rarr; Kopioi sähköpostiosoite</button
						>
					</li>
					<li id="js-email-success" class="contact__item contact__success">
						<span class="">Sähköposti kopioitu leikepöydälle.</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="contact__contact">
			<p class="contact__contact--heading">Seuraa</p>
			<ul class="contact__list">
				<li class="contact__item">
					<a
						href="https://www.instagram.com/lumikko.studio"
						target="_blank"
						rel="noopener noreferrer"
						class="cta-btn">&#8599; Instagram</a
					>
				</li>
				<li class="contact__item">
					<a
						href="https://dribbble.com/lumikko-studio"
						target="_blank"
						rel="noopener noreferrer"
						class="cta-btn">&#8599; Dribbble</a
					>
				</li>
				<li class="contact__item">
					<a
						href="https://linkedin.com/company/lumikko-studio"
						target="_blank"
						rel="noopener noreferrer"
						class="cta-btn">&#8599; LinkedIn</a
					>
				</li>
			</ul>
		</div>
	</div>
</section>
