---

---

<footer class="gutter">
	<div class="footer__nav grid">
		<span class="hide-mobile">&nbsp;</span>
		<a href="/">www.lumikko.studio</a>
		<span class="hide-mobile">&nbsp;</span>
		<span class="hide-mobile">&nbsp;</span>
		<div class="footer__backToTop">
			<button
				id="js-backToTop"
				class="back-to-top btn-cta"
				title="Takaisin sivun yläosaan.">Takaisin ylös &#x2934;</button
			>
		</div>
		<small class="footer__copy">&copy; {new Date().getFullYear()}</small>
	</div>
</footer>
