---

---

<header>
	<nav class="header grid hide-mobile-grid">
		<div class="header__link" data-page="home">
			<a href="/">Lumikko Studio</a>
		</div>
		<div class="header__link" data-page="portfolio">
			<a href="/portfolio">Portfolio</a>
		</div>
		<div class="header__link" data-page="services">
			<a href="/palvelut">Yksittäiset palvelut<sup>&nbsp;0&rarr;1</sup></a>
		</div>
		<div class="header__link" data-page="subscription">
			<a href="/tilauspalvelut">Tilauspalvelut<sup>&nbsp;1&rarr;2+</sup></a>
		</div>
		<div class="header__link" data-page="about">
			<a href="/meista">Meistä</a>
		</div>
		<div class="header__contact hide-tablet">
			<a class="btn btn-s" href="mailto:contact@lumikko.studio"
				><span class="availability"></span>&#8599; Aloita projektisi nyt</a
			>
		</div>
	</nav>
	<nav class="header-mobile hide-desktop-flex">
		<a href="/">Lumikko Studio</a>
		<div class="header__contact--mobile">
			<a class="btn btn-s" href="mailto:contact@lumikko.studio"
				><span class="availability"></span>&#8599; Aloita projektisi nyt</a
			>
		</div>
		<div id="hamburger-open" class="hamburger hamburger--open hide-desktop">
			<span class="hamburger__line"></span>
			<span class="hamburger__line"></span>
			<span class="hamburger__line"></span>
		</div>
	</nav>
	<div id="menu" class="menu hide-desktop-flex">
		<div class="menu__nav">
			<a href="/">Lumikko.Studio</a>
			<div id="hamburger-close" class="hamburger hamburger--close">
				<span class="hamburger__line"></span>
				<span class="hamburger__line"></span>
			</div>
		</div>
		<div class="menu__content">
			<ul class="menu__links">
				<li><a href="/">Etusivu</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li>
					<a href="/palvelut">Palvelut</a>
				</li>
				<li>
					<a href="/tilauspalvelut">Tilauspalvelut</a>
				</li>
				<li>
					<a href="/meista">Meistä</a>
				</li>
			</ul>
			<div class="menu__contact">
				<p>Aloita projektisi nyt</p>
				<a href="mailto:contact@lumikko.studio">contact@lumikko.studio</a>
			</div>
		</div>
	</div>
</header>
